
/* navigation section  */

#navbar {
    flex-direction: column;
}


#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section 
 */

#home { 
    height: 470px!important;
    padding: 3px 28px!important;
    
    

}

#home::before { 
    height: 660px!important;
    

}
#home p {
    font-size: 13px;
    
} 
 /* service section  */

#services {
    flex-direction: column;

}

#services .box {

}

 /* client section  */

 #clients {
     flex-wrap: wrap;
 }

 #clients img {
     width: 64px;
     padding: 6px;
     height: auto!important;
 }

 /* contact section  */

 #contact form {
     width: 80%;
 }

 /* footer section  */




 /* utility classes  */

 .h-primary {
     font-size: 20px;
     margin-top: 100px;
 }

 .btn {
     font-size: 13px;
     padding:4px 8px;
     margin-bottom: 20px;
 }
